<div class="card-container">
  <md-card *ngFor="let todo of todos" [ngClass]="{completed: todo.completed}">
    <img md-card-image [alt]="todo.title" src="http://lorempixel.com/g/400/150/abstract/">
    <md-card-title>{{todo.title}}</md-card-title>
    <md-card-content class="secondary">{{todo.description}}</md-card-content>
    <!--<md-card-actions align="end">
      <button md-button color="primary" (click)="todo.completed = !todo.completed">{{todo.completed ? 'UNCOMPLETE' : 'COMPLETE'}}</button>
      <button md-button color="accent" (click)="remove(todo)">REMOVE</button>
    </md-card-actions>-->
  </md-card>
</div>