.completed {
    opacity: 0.5;
}

.secondary {
    color: rgba(0, 0, 0, 0.54);
}

md-card {
    margin: 16px;
}

.card-container md-card {
    width: 400px;
    box-sizing: boder-box;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

md-radio-button {
    margin: 16px 8px;
}